/********** overall **********/
body {
  background: var(--footer-background) !important;
}

/********** header **********/
#header{
  padding-left: 0 !important;
  padding-right: 0 !important;
  display: flex !important;
  background: var(--header-background);
  height: 7vh !important;
}
#header-title{
  margin: auto;
  flex-grow: 1;
  display: inline;
  text-align: center;
  font-size: large;
  font-weight: bold;
}
#reload-button{
  margin: auto;
  width: 64px;
  flex-grow: 0;
}

/********** menu **********/
.ant-menu-item{
  padding-left: 0 !important;
  padding-right: 0 !important;
  height: 80px !important;
  line-height: 90px !important;
  text-align: center;
}
.ant-menu-item > i{
  margin: auto !important;
}
.ant-menu-item-selected{
  background: var(--c-selected-background) !important;
}

/********** sidebar **********/
#sidebar-container {
  color: var(--c-text);
  background: var(--sidebar-background);
  border: var(--c-border) 2px solid;
}

/********** editor-bar **********/
#editor-container {
  color: var(--c-text);
  background: var(--editor-bar-background);
  border: var(--c-border) 2px solid;
  padding: 0;
}

.start-btn > label {
  font-size: x-large;
}

.start-btn > p {
  margin-top: 20px;
}

.start-btn > .warn {
  color: var(--c-warn);
}

/********** both bar **********/
.major-panel {
  width: 100%;
  height: 90vh;
}
.major-panel > .pane {
  text-align: left;
  padding: 15px;
  overflow: hidden;
}

/********** resizer **********/
.major-panel > .multipane-resizer {
  margin: 0;
  left: 0;
  position: relative;
  width: 14px;
  background: var(--c-menu-background);
}
.major-panel > .multipane-resizer:before {
  display: block;
  content: "";
  width: 4px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -1.5px;
  border-left: 1px solid var(--c-selected-background);
  border-right: 1px solid var(--c-selected-background);
}
.major-panel > .multipane-resizer:hover:before {
  border-color: var(--c-text);
}

/********** footer **********/

#footer {
  background: var(--footer-background);
  height: 100%;
  text-align: center;
}

/********** notification **********/
.ant-notification-notice{
  background: var(--c-common-background) !important;
  border: var(--c-border) !important;
}
